{% extends "stock_tab.html" %}

{% block title %}Add Pack{% endblock %}


{% block navbar %}
{% endblock %}


{%block heading%}
<h3 style="text-align:center;">Blood Pack Management</h3>
{%endblock%}
 {% block form %}
        
         {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
              {% for category , message in messages %}
                  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                      <p><center>{{ message }}</center></p>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                  </div>
              {% endfor %}
          
            {% endif %}
          {% endwith %}
          <!--<div id="form-section">-->
              <div id="form-field">
                <div style="display: flex;margin-top: 5%;">
                  <p style="margin-left: 30%;">Add New Blood Pack  </p>

                </div>

                  <form action="/add_blood_pack/" method="POST" >
                      <table >
                          <tr>
                              <td id="label"> Donor ID*</td>
                              <td><input type="text" min="0" name="d_id" id="d_id" class="form-control" placeholder="Enter Donor id " required></td>
                              
                          </tr>
                          
                          <tr>
                            <td id="label"> Barcode No*</td>
                              <td><input type="text" min="0" name="bn" id="bn" class="form-control" placeholder="Enter Pack Barcode No" required></td>
                              
                         
                          <tr>
                              <td id="label">Blood Group</td>
                              <td>
                                  <select name="bg" class="form-control" required>
                                      <option value="">Select</option>
                                      <option value="A+">A+</option>
                                      <option value="A-">A-</option>
                                      <option value="B+">B+</option>
                                      <option value="B-">B-</option>
                                      <option value="O+">O+</option>
                                      <option value="O-">O-</option>
                                      <option value="AB+">AB+</option>
                                      <option value="AB-">AB-</option>

                                  </select>
                              </td>
                          </tr>
                          
                          <tr>
                              <td id="label">Quantity*</td>
                              <td><input type="number" min="0" name="qty" id="qty" class="form-control" placeholder="Enter Volume" required></td> 
                              <td>mL</td>
                          </tr>

                          <tr>
                              <td id="label">Storage Location*</td>
                              <td><textarea id="txtarea" name="storage" id="storage" class="form-control" required></textarea></td>
                          </tr>
                          

                          
                      </table>
                      <br>
                      <input type="submit" name="Sbtn"  value="Submit" id="btnsbmt"  >
                      <input type="reset" name="Rbtn"  value="Reset" id="btnrst">
                      <br>
                      <br><br> 
                  </form>                    
              </div>

        
{% endblock %}
        