<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="{{url_for('static',filename='css/search.css')}}" rel="stylesheet" />
  </head>
  <body>
    <div class="s01" style="background-image: url('{{url_for('static',filename='images/search.jpg')}}">
      <form>
        <fieldset>
          <legend>SEARCH DONOR</legend>
        </fieldset>
        <div class="inner-form">
          <div class="input-field first-wrap">
            <input id="search" type="text" placeholder="BLOOD GROUP" />
          </div>
          <div class="input-field second-wrap">
            <input id="location" type="text" placeholder="CITY" />
          </div>
          <div class="input-field third-wrap">
            <button class="btn-search" type="button">Search</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
