{% extends "admin_dash.html" %}

{% block title %} Blood Stock {% endblock %}

	{% block style%}
	<!-- Tabs -->
        <style type="text/css">
            /* Style tab links */
            .tablink {
              background-color: darksalmon;
              color: white;
              float: left;
              border: none;
              outline: none;
              cursor: pointer;
              padding: 14px 16px;
              font-size: 17px;
              width: 20%;
            }

            .tablink:hover {
              background-color: darkred;
            }
          </style>
	{%endblock%}

 {% block content %}
          {%block heading%}{%endblock%}
        <fieldset id="sub-header">
                       
              <button class="tablink"  onclick="window.location.href='{{ url_for('dashboard') }}';" > Dashboard </button>

              <button class="tablink" onclick="window.location.href='{{ url_for('add_blood_pack') }}';">   Add Blood Pack</button>

              <button class="tablink" onclick="window.location.href='{{ url_for('view_all_stock') }}';"> View All Blood Stock  </button>


              <button class="tablink" onclick="window.location.href='{{ url_for('update_stock') }}';"> Update Blood Stock</button>

              <button class="tablink" onclick="window.location.href='{{ url_for('delete_blood_pack') }}';"> Delete Blood Pack </button>

        </fieldset>
        <br>
        {%block form%}
         <fieldset style=" margin: 15%;padding: 60px;margin-top:-25px;"/>
        
        <center>
          <h2>Welcome To</h2>
          <img src="{{url_for('static',filename='images/bbank.jpg')}}" ><h2>Blood Bank Management Tab</h2>
        
          
        </center>
      </fieldset>
      {%endblock%}
          
{% endblock %}
        