{% extends "user_tab.html" %}

{% block title %}User Details{% endblock %}


{% block navbar %}
{% endblock %}

{%block heading%}
<h3 style="text-align: center;">User Management</h3>
{%endblock%}
 {% block form %}
        
         {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for category , message in messages %}
                <div class="alert alert-{{category}}">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        
          {% endif %}
        {% endwith %}
            {%if details%}
        
        <!-- View Scrollable Table -->
            <table id="dtVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" style="text-align: center;margin-top: 60px;">
          <thead style="color: white;background: grey;">
            <tr>
              <th class="th-sm">Email
              </th>
              <th class="th-sm">Username 
              </th>
              <th class="th-sm">Role
              </th>
              <th class="th-sm">Registered Date
              </th>
              
              
            </tr>
           
                          
          </thead>
          <tbody>
            {% for d in details %}
                    <tr>
                        <td>{{d.email}}</td>
                        <td>{{d.username}}</td>
                        <td>{{d.role}}</td>
                        <td>{{d.timestamp}}</td>
                        
                    </tr>
            {% endfor %}
          </tbody>
          <tfoot>
           
          </tfoot>
        </table>
        {%else%}
        <h3 style="color: red;text-align: center;margin-top: 50px;">No Data Available</h3>
        {%endif%}
  </div>
        
        
{% endblock %}
        